<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appToken</key>
	<string>60a92476-c431-4ec5-873b-3af636f566f0</string>
	<key>serviceURL</key>
	<string>http://stagewebservices.netpay-intl.com/shop.asmx/</string>
</dict>
</plist>
